.body{
  background-color: #231557;
  height: 120vh;
}
.wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.tab{
  
}

.content {
  padding: 30px;
  background-color: #7c64d5;
  width: 80%;
  height: 100vh;
  border-radius: 35px;
  font-family: 'neodgm';
  display: flex;
  flex-direction: column;
}
.profileContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileImg {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.profile{
  padding: 30px;
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.table{
  border-spacing: 30px;
}

.profileGameInfo{
  margin: 5px 30px;
  display: flex;
  justify-content: space-around;
}

.count{
  text-align: center;
}

.answer{
  text-align: center;
}

.mvp{
  padding: 20px;
  clear: both;
}

.container {
  height: 25vw;
}
.picture img {
  margin: 20px;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  border-style: solid;
  border-color:#231557;
  cursor: pointer;
}
.picture img:hover {
  transform: scale(1.05, 1.05);
}
