.body{
  background-color: #000000;
  color: white;
  font-family: 'neodgm';
  margin: 0px;
  padding: 0px;
}

.wrapper{
  width: 100vw;
  height: 100vh;
}
.header{
  font-size: 64px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.preferences{
  padding: 50px;
}

.camera{
  background-color: gray;
  border-radius: 30px;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.camera video {
  border-radius: 30px;
  margin: auto;
}
.cameraBtn{
  text-align: center;
}

.form{
  padding: 30px;
  font-size: 64px;
}

.nickname{
  padding: 30px;
}
.code{
  padding: 30px;
}
.gray{
  width: 350px;
  height: 60px;
  background-color: gray;
  border-radius: 10px;
  float: right;
  margin-left: 50px;
  font-size: 64px;
  color: white;
}

.button{
  text-align: center;
}