.body{
  background-color: #000000;
  color: white;
  font-family: 'neodgm';
  margin: 0px;
  padding: 0px;
}

.wrapper{
  // margin-top: -20px;
  width: 100vw;
  height: 100vh;
}
.header{
  font-size: 64px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.content{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: row;
}

.preferences{
  // padding: 50px;
}

.camera{
  background-color: gray;
  border-radius: 30px;
  width: 55vw;
  height: 60vh;
  display: flex;
  justify-content: center;
}

.camera video {
  border-radius: 30px;
  width: 60vw;
  height: 55vh;
  margin: auto;
}
.cameraBtn{
  text-align: center;
}

.form{
  // padding: 30px;
  margin-left: 20px;
  font-size: 2rem;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nickname{
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 30px;
  // font-size: 2rem;
}
.code{
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 30px;
}
.gray{
  width: 350px;
  height: 60px;
  background-color: gray;
  border-radius: 10px;
  float: right;
  // margin-left: 50px;
  font-size: 64px;
  color: white;
}

.button{
  text-align: center;
}