  .contents-container {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 9vw;

  }
  .contents-container.catchmind {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // align-content: none;
    margin-top: 0;
    // overflow-y: scroll;
  }

  .user-videos-container {
    width: 85%;
    height: 100%;
  }
  .user-videos-container.catchmind {
    width: 15vw;
    height: 90%;
    margin-left: 5vw;
    margin-right: 1vw;
  }
  
  .video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 10px;
    width: 100%;
    height: 100%;
  }
  .video-container.catchmind{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    // overflow-y: scroll;
  }
  .videoplayer {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .etcbox {
    width : 100vw;
    display : flex;
    justify-content : center;
  }
  .etcbox.catchmind{
    color : white;
    width: 20px;
    display: inline;

  }
  .chat-container {
    // margin-top: 10px;
    margin : 0px;
    margin-right: 10px;
    width: 50%;
    height: 100%;
  }
  .selectGame {
    background-color: #F3C522;
    color : white;
    border: none;
    border-radius: 5px;
  }
  .infoGame {
    background-color: #38C502;
    color : white;
    border : none;
    border-radius: 5px;
  }
  .inviteFriend{
    background-color: #4CC3FF;
    color : white;
    border: none;
    border-radius: 5px;
  }
  .countContainer {
    position: absolute;
    z-index: 999;
    top: 47%;
    left: 41%;
  }
  
  .count {
    font-size: 50px;
  }