
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    width: 70%;
    height : 60%;
    border-radius: 5px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    backdrop-filter: blur(15px);
    color : white;
}
.card p {
    width: 75%;
    color : #FFF800;
    font-size: 2rem;
    margin: 0px auto 20px;
}
.card span{
    display: inline-block;
    font-size: 1.3rem;
    width: 75%;
    margin: 0px auto;
    line-height: 35px;
}
@media (max-width : 800px) {
    .content{
        grid-template-columns: repeat(1,1fr);
        // grid-auto-rows: 2px;
    }
}