.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.chatBox {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  // margin: 40px 50px;
  height: 610px;
  width: auto;
  display: flex;
}

.chatHeader {
  background-color: #ededed;
  height: 10%;
  padding-left: 20px;
  padding-top: 5px;
  display: flex;
}

.plusOn {
  height: 64px;
  width: 64px;
  display: block;
  margin: 0px 80px;
}

.plusOff {
  left: 200px;
  height: 64px;
  width: 64px;
  // margin: 0px 80px;
  margin-left: 160px;
}

.self {
  float: right;
}

.chatList {
  width: 30%;
}

.chatContent {
  width: 60%;
  margin-left: 10px;
}

.onFocus .lastMessage {
  display: block;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chatMessages {
  height: 79%;
  border: 1px solid #000;
  margin-top: 1px;
  margin-bottom: 1px;
  display: flex;
}

.sendMessage {
  display: flex;
  width: 100%;
  height: 9%;
  // padding: 20px;
  // padding-top: -20;
}

.form {
  color: rgb(29, 28, 29);
  font-size: 15px;
  width: 100%;
  border-radius: 4px;
  flex-direction: row;
  display: flex;
  border: 1px solid rgb(29, 28, 29);
}

#addButton {
  // text-align: center;
  // background: #1aab8a;
  // color: #fff;
  // border: none;
  // border-radius: 50%;
  // width: 15px;
  // position: relative;
  // height: 60px;
  // font-size: 1.6em;
  // padding: 0 2em;
  // cursor: pointer;
  // transition: 800ms ease all;
  // outline: none;
  // &:hover {
  //   background: #fff;
  //   color: #1aab8a;
  // }
  // &:before,
  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   height: 2px;
  //   width: 0;
  //   background: #1aab8a;
  //   transition: 400ms ease all;
  // }
  // &:after {
  //   right: inherit;
  //   top: inherit;
  //   left: 0;
  //   bottom: 0;
  // }
  // &:hover:before,
  // &:hover:after {
  //   width: 100%;
  //   transition: 800ms ease all;
  // }
}

.inputMessage {
  width: 90%;
  // border-radius: 50px;
}

.sendButton {
  width: 10%;
  border-radius: 50px;
  margin-left: 5px;
  cursor: pointer;
}

.preview {
  position: relative;
  height: 40px;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-right: 80px;
}

.count {
  margin-top: 20px;
  margin-left: 35px;
  background: #cd2553;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 18px;
  line-height: 18px;
  padding: 0 9px;
  color: white;
  margin-right: 16px;
}

.modalForm {
  font-family: 'neodgm';
  padding: 20px 10px;
  height: 200px;
}

#test {
  width: 200px;
}

.modalForm .title {
  display: inline;
  font-size: 30px;
  margin-left: 10px;
}

.modal button {
  font-family: 'neodgm';
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 32px;
  color: #ffffff;
  font-size: 14px;
  margin: auto 10px;
  background-color: #9900f0;
}

.modal .buttonClicked {
  font-family: 'neodgm';
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 32px;
  color: #ffffff;
  font-size: 14px;
  margin: auto 10px;
  background-color: #858585;
}

.modal>section {
  width: auto;
  height: 600px;
  border-radius: 10px;
  background-color: #ffff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}

.serachBar {
  width: 100%;
  margin: 40px auto;
  text-align: center;
  // font-size: 1px;
  position: relative;
}

.input {
  font-size: 20px;
  margin-left: 20px;
  font-family: 'neodgm';
  border-style: none none so1lid none;

  &:focus {
    outline: none;
  }
}

.onFocus {
  &:hover {
    background-color: #ededed;
  }
}

// .modal .cancel {
//   position: absolute;
//   margin-top: 370px;
//   left: 50%;
//   transform: translateY(-50%);
//   transform: translate(-50%);
//   background-color: #858585;
//   color: white;
//   &:hover {
//     background-color: rgba($color: #858585, $alpha: 0.7);
//   }
// }
.modal.openModal {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}