.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.friendList {
  padding: 20px 0px;
  width: 390px;
  height: 460px;
  border-radius: 0px 15px 15px 15px;
  background-color: #7C64D5;
  // overflow-y: auto;
}

.button {
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 5px;
  background-color: #9900f0;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: #e4405f;
  }
}

.buttonYocheong {
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 5px;
  background-color: #9900f0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: #e4405f;
  }
}

.friendListContainer {
  height: 430px;
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}

.friendAddContainer {
  height: 430px;
  margin-top: 40px;
  font-size: 1.2rem;
  text-align: center;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}

.tabs {
  text-align: left;
  padding: 0;
  height: 45px;
  margin-bottom: 0px;
}

.tabs li {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-top: 28px;
  margin-right: 5px;
  font-size: 18px;
  width: 100px;
  height: 25px;
  transition: all 0.3s ease 0s;

  &:hover {
    transform: translateY(-4px);
  }

  &:after {
    position: absolute;
    content: '';
    width: 0%;
    height: 4px;
    background-color: rgb(107, 13, 13);
    left: 50%;
    bottom: 0px;
    transition: all 0.4s ease-in-out;
  }

  border-radius: 5px 5px 0px 0px;
  background-color: #7C64D5;
  cursor: pointer;
}

.tabs li.active {
  color: #fff800;
}

.modal.openModal {
  display: flex;
  align-items: center;
  justify-content: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.searchContainer {
  position: fixed;
  // width: inherit;
  width: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 20px 20px;
  // margin-bottom: 20px;
}

.Input {
  margin-left: 20px;
  width: 270px;
  height: 30px;
  border-radius: 15px;
  font-size: 15px;
  border: none;
  padding-left: 20px;

  &:focus {
    outline: none;
  }
}