.main {
  height: 100vh;
  background-image: url('../../../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.glass {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.56);
}

.squareContainer {
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

//미디어 쿼리로 크기 해야할듯,, 페이지 줄이면 너무 꼴뵈기 싫다
.square {
  padding: 30px;
  height: 500px;
  width: 830px;
  background-color: #c4c4c4;
  opacity: 0.4;
}
